/* .bground{
    background-image: url('./imgGlass/background.jpg');
} */

/* .home-bg{
    background-image: url('./imgGlass/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800;
} */
* {
  box-sizing: border-box;
}

.home-bg {
  position: relative;
  background-color: black;
  padding: 0px;
}

.img-glass {
  width: 100%;
  height: 900px;
  position: absolute;
}

.status-glass {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
}

.glass-content {
  margin-top: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  display: flex;
  justify-content: center;
  position: absolute;
}

.card-Deck {
  width: 900px;
  justify-content: space-around;
  padding-top: 30px;
}

/* .model-glass {
  padding-top: 180px;
  padding-left: 180px;
}

.model-glass-1 {
  padding-top: 180px;
  padding-left: 50px;
} */

.model-card {
  flex: none !important;
  width: 248px;
  height: 300px;
}

.overplay-header {
  height: 65%;
  width: 100%;
  position: relative;
}

.overplay-glass {
  position: absolute;
  width: 140px;
  top: 75px;
  left: 54px;
  z-index: 1;
  opacity: 0.7;
}

.card-footer {
  height: 35%;
  width: 100%;
  font-size: 12px;
  padding: 7px;
  background: #ec990070;
  padding-left: 15px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: blueviolet;
}

.card-text {
  font-size: 16px;
}

.slecGlass {
  margin-top: 430px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.51);
  height: 470px;
  display: flex;
  justify-content: center;
  position: absolute;
}
